.imageContainer{
  height: 200px;
  width: 200px;
}

.nameContainer{
  height: 100px;
  width: auto;
}

.btnContainer{
  height: 50px;
  width: auto;
}

// .background {
//   background-image: 'cover.jpg';
//   background-size: cover;
// }